@font-face {
    font-family: 'Comforta';

    src: url('../fonts/Comfortaa-Light.ttf');}

.form-control, .btn-default {
    border: 1px solid #879528;
}

body,html {
    font-family: "Comforta";
}

#header {
    height: 5em;
}

.middlehor{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.headerInline {
    display: inline-block;
}

#header .imgsearchB img, #header img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#header .input-group{
    position: absolute;
    left: -50%;
    transform: translate(50%, 50%);
}

#logo {
    margin-top: 1.5em;
}

#middle {
    margin-top: 2em;
}

#blocUser span {
    margin : 1em;
}

#blocUser .login {
    margin-top: 2em;
}

#blocUser button {
    margin: 1em;
    display: block;
    background-color: #879528;
    border-color: #879528;
}
#btnAccount a {
text-decoration: none;
}

#btnAccount button {
    position: relative;
}

#searchBar .glyphicon { color : #879528; }

#popinLogin {
    display: none;
    margin-top: 25vh;
    width: 70vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#popinCreateAccount {
    display: none;
    margin-top: 25vh;
    width: 70vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Navbar */

.navbar {
    font-size: 1.5em;
    margin-top: 3em;
}

.navbar a {
    text-decoration: none;
    color: #fc5e21;
}

.navbar div {
    display: inline-block;
    text-align: center;
    padding-top: 0.2em;
}

.navbar-default {
    background-color: white;
    border-color: #fc5e21;
}

#menu div:not(:last-child) {
    border-right: 1px solid #fc5e21;
}

/* bloc middle */

.welcomeMiddle {
    text-align: center;
    margin : 0 2em 5em 2em;
}

.externbloc {
margin-left: 2em;
    margin-top: 2em;
}

.jaquette {
    margin-top: 1em;
}

.blocmiddle {
    border: 1px solid #c90b0b;
    text-align: center;
    padding: 0;
    margin-bottom: 3em;
}

.blocmiddle div {
    padding: 0.5em;
    font-size: 1.5em;
}

.blocmiddle div:first-child {
    background-color: #c90b0b;
    color: white;
    padding-bottom: 0.5em;
}

/* bloc abo */

.blocAbo {
   border: 1px solid #70146a;
    text-align: center;
    margin : 0 2em 4em 2em;
}

.blocAbo div {
    padding: 0.5em;
    font-size: 1.5em;
}

.blocAbo div:first-child {
    background-color: #70146a;
    color: white;
}

/* Footer */

.footer {
    background-color: #879528;
}
#reseaux {
    padding : 1em;
}

#reseaux img {
    padding-right : 1em;
}

/* account page*/

#accountpage {
    margin-bottom : 2em;
}

#accountpage .btn-primary {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #879528;
    border-color: #879528;
}

.btn-primary {
    background-color: #879528;
    border-color: #879528;
}